{
  "env": {
    "es6": true,
    "jasmine": true,
    "browser": true,
    "worker": true,
    "node": true
  },
  "plugins": ["promise"],
  "extends": ["eslint:recommended", "google", "plugin:promise/recommended"],
  "rules": {
    "camelcase": "off",
    "no-console": "off",
    "no-invalid-this": "off",
    "no-prototype-builtins": "off",
    "new-cap": ["error", {
    	"capIsNew": false
    }],
    "max-len": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": ["error", {
      "allowThen": true
    }],
    "promise/no-callback-in-promise": "off",
    "promise/no-nesting": "off",
    "require-jsdoc": "off"
  },
  "globals": {
    "angular": false,
    "org": false,
    "foam": false
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
