{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "camelcase": "off",
    "no-console": "off",
    "no-invalid-this": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "new-cap": ["error", {
    	"capIsNew": false
    }],
    "max-len": "off",
    "prefer-spread": "off",
    "prefer-rest-params": "off",
    "require-jsdoc": "off"
  },
  "globals": {
    "foam": false
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
