<br>
<!-- Browser Dropdown Dropdown Structure -->
<!-- The browserList is a nested dropdown list.
  It is grouped by browserName and version.-->
<ul id="browserList" class="dropdown-content"
  style="position:fixed;z-index:1;left:70%;top:10%">
  <li ng-repeat-start="(browserName, versions) in browserGroups"
    class="blue-text text-darken-3 grey lighten-5"
    value="{{browserName}}">
      <a ng-click="expandBrowserList($event, browserName)">
        {{browserName}}
      </a>
  </li>
  <li ng-repeat-start="(version, browsers) in versions"
    class="blue-text text-darken-3 grey lighten-4"
    ng-show="expandBrowserDropdown[browserName]"
    ng-click="expandBrowserDropdown[browserName][version] ?
      expandBrowserDropdown[browserName][version] = {} :
      expandBrowserDropdown[browserName][version] = false"
    value="{{browserName + version}}">
    <a style="margin-left: 15px"
      ng-click="expandBrowserList($event, browserName, version)">
      {{version}}
    </a>
  </li>
  <li
    ng-repeat="browser in browsers"
    class="blue-text text-darken-3 grey lighten-3"
    ng-show="expandBrowserDropdown[browserName][version]"
    value="{{browserName + version + browser.osName + browser.osVersion}}">
    <a style="margin-left: 30px"
      ng-click="addBrowser(browser)">
      {{browser.osName + browser.osVersion}}
    </a>
  </li>
  <span ng-repeat-end></span>
  <span ng-repeat-end></span>
</ul>
<div class="row">
  <div class="col s8">
    <ul id="tabs" class="tabs" ng-show="browsers.length!==0">
      <li class="tab" ng-class="{'blue lighten-5': showTab === 0}">
        <a ng-click="showTab=0"
        class="blue-text text-darken-2">Catalog</a>
      </li>
      <li class="tab" ng-class="{'blue lighten-5': showTab === 1}">
        <a ng-click="showTab=1" class="blue-text text-darken-2">Analysis</a>
      </li>
      <li class="tab" ng-repeat="view in filteredViews track by $index"
       ng-class="{'blue lighten-5': showTab === 2 + $index}">
        <a ng-click="$parent.showTab = 2 + $index">{{"#view"+$index}}</a>
      </li>
    </ul>
  </div>
  <div class="col s2">
    <a class="add-browser-dropdown btn blue darken-3 white"
      style="position: absolute;"
      data-activates="browserList">
      Add Browser
      <i class="material-icons right">
        arrow_drop_down
      </i>
    </a>
  </div>
</div>

<div class="container" ng-show="browsers.length !== 0">
  <div ng-show="showTab === 0">
    <api-catalog-table
      browsers="browsers"
      able-to-delete-browser="true"
      on-delete-browser="removeBrowser(browser)"
    ></api-catalog-table>
  </div>
  <div ng-show="showTab === 1">
    <api-analytics
      browsers="browsers"
      on-create-new-view="createView(browserKey, option)"
    ></api-analytics>
  </div>
  <!-- Filtered view. -->
  <api-catalog-table
    ng-repeat="view in filteredViews track by $index"
    ng-show="$parent.showTab === 2 + $index"
    browsers="view.browsers"
    browser-options="view.browserOptions">
  </api-catalog-table>
</div>
