<style>
  .flex-head {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .pad-h {
    padding-left: 24px;
    padding-right: 24px;
  }
  .pad-v {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .btn {
    z-index: 50;
  }
  .dropdown-content {
    z-index: 60 !important;
  }

</style>
<!-- Release Dropdown Dropdown Structure -->
<!-- The releaseList is a nested dropdown list.
     It is grouped by browserName and version.-->
<ul id="releaseList" class="dropdown-content"
    style="position:fixed;z-index:1;left:70%;top:10%">
  <li ng-repeat-start="(browserName, versions) in releaseGroups"
      class="blue-text text-darken-3 grey lighten-5"
      value="{{browserName}}">
    <a ng-click="expandReleaseList($event, browserName)">
      {{browserName}}
    </a>
  </li>
  <li ng-repeat-start="(version, releases) in versions"
      class="blue-text text-darken-3 grey lighten-4"
      ng-show="expandReleaseDropdown[browserName]"
      ng-click="expandReleaseDropdown[browserName][version] ?
		expandReleaseDropdown[browserName][version] = {} :
		expandReleaseDropdown[browserName][version] = false"
      value="{{browserName + version}}">
    <a style="margin-left: 15px"
       ng-click="expandReleaseList($event, browserName, version)">
      {{version}}
    </a>
  </li>
  <li
      ng-repeat="release in releases"
      class="blue-text text-darken-3 grey lighten-3"
      ng-show="expandReleaseDropdown[browserName][version]"
      value="{{browserName + version + release.osName + release.osVersion}}">
    <a style="margin-left: 30px"
       ng-click="addRelease(release)">
      {{release.osName + release.osVersion}}
    </a>
  </li>
  <span ng-repeat-end></span>
  <span ng-repeat-end></span>
</ul>
<div class="flex-head">
  <h3 class="heading pad-h">API Catalog</h3>
  <div class="pad-h pad-v">
    <a class="add-release-dropdown btn blue darken-3 white"
       data-activates="releaseList">
      Add Release
      <i class="material-icons right">
	arrow_drop_down
      </i>
    </a>
  </div>
</div>

<api-catalog-table
    class="flex-fill-vertical"
    releases="releases"
    able-to-delete-release="true"
    on-delete-release="removeRelease(release)"></api-catalog-table>
<!-- Filtered view. -->
<api-catalog-table
    class="flex-fill-vertical"
    ng-repeat="view in filteredViews track by $index"
    ng-show="$parent.showTab === 2 + $index"
    releases="view.releases"
    release-options="view.releaseOptions"></api-catalog-table>
