<ul id="tabs" class="tabs" ng-show="releaseKeys.length!==0">
  <li class="tab">
    <a ng-click="showTab=0" class="blue-text text-darken-2">API Velocity</a>
  </li>
  <li class="tab">
    <a ng-click="showTab=1" class="blue-text text-darken-2">Failue to Ship</a>
  </li>
  <li class="tab">
    <a ng-click="showTab=2" class="blue-text text-darken-2">Aggressive removal</a>
  </li>
  <li class="tab">
    <a ng-click="showTab=3" class="blue-text text-darken-2">Browser-Specific APIs</a>
  </li>
  <li class="tab" ng-repeat="view in additionalViews track by $index">
    <a ng-click="$parent.showTab=4+$index">{{"#view"+$index}}</a>
  </li>
</ul>

<div class="container">
  <div ng-show="showTab===0">
    <api-velocity-chart
      ng-repeat="(release, apiVelocity) in apiVelocityMetrics"
      chart-id="release + '-api-velocity'"
      title="release + ' API Velocity'"
      api-velocity="apiVelocity"
      new-diff-view="createNewDiffView(minuend, subtrahend)"
    ></api-velocity-chart>
  </div>
  <div ng-show="showTab===1">
    <failure-to-ship-chart
      ng-if="failureToShipMetric"
      chart-id="failure-to-ship-chart"
      title="Failure To Ship Metric"
      failure-to-ship-metric="failureToShipMetric"
      create-new-view="newFailureToShipView(release, prevReleases, comparedReleases)"
    >
    </failure-to-ship-chart>
  </div>
  <div ng-show="showTab===2">
    <aggressive-removal-chart
      ng-if="aggressiveRemovalMetrics"
      chart-id="aggressive-removal-apis-chart"
      title="Aggressive Removal APIs"
      aggressive-removal-metrics="aggressiveRemovalMetrics"
      create-new-view="newAggressiveRemovalView(releaseOneYearAgo, prevReleases, currReleases)"
    >
    </aggressive-removal-chart>
  </div>
  <div ng-show="showTab===3">
    <browser-specific-chart
      ng-if="browserSpecificMetric"
      chart-id="browser-specific-apis-chart"
      title="Browser Specific APIs"
      browser-specific-metric="browserSpecificMetric"
      create-new-view="newBrowserSpecificView(release, prevReleases, comparedReleases)"
    >
    </browser-specific-chart>
  </div>
  <!-- additional view. -->
  <api-catalog-table
    api-matrix="apiMatrix"
    ng-repeat="view in additionalViews track by $index"
    ng-show="$parent.showTab === 4 + $index"
    releases="view.releases"
    release-options="view.releaseOptions"
    num-available="view.numAvailable">
  </api-catalog-table>
</div>
