<style>
  .content {
    overflow: auto;
    padding: 8px 24px;
  }
  .flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-image img {
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 400px;
    padding: 24px;
  }
  .card-stacked p, .card-stacked h3 {
    margin: 0;
    padding: 24px;
  }
  .divide {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
  }
  #intro .card-stacked {
    border-left: 1px solid rgba(160, 160, 160, 0.2);
  }
  .header.darken-3 {
    color: #fff;
  }
  .caveat, .warning {
    padding: 0.5em;
  }
  blockquote.warning {
    border-left: 5px solid #fff176;
  }
</style>
<div class="content">
  <h2 class="header">Web API Confluence</h2>
  <blockquote class="red lighten-4 caveat">
    This site is a work in progress intended for browser engineers to locate
    low-level differences in support for APIs and to coordinate work. Data
    reported on the site may not be an accurate reflection of web platform
    implementations. Please refer to
    <a href="https://github.com/GoogleChrome/confluence/issues">known issues</a>
    on GitHub for more information.
  </blockquote>
  <!-- <div id="intro" class="card horizontal">
    <div class="card-image flex-centered">
      <img ng-src="images/elastic-band.png">
    </div>
    <div class="card-stacked flex-centered">
      <div>
        <p>
	  A web service and UI for visualizing API confluence metrics. These
	  metrics are intended to capture how browser vendors are
	  <a href="https://plus.google.com/+AlexKomoroske/posts/WNvcmeTFhzx">stretching
	    the elastic band</a> of the web platform.
	</p>
        <p class="divide">
	  <b>Stretching is good</b>: Browsers should be implementing new APIs
	  to add value to the platform.
	</p>
        <p class="divide">
          <b>Breaking is bad</b>: Implementing too many new APIs before other
          browsers catch up, or failing to remove APIs other browsers don't
          intend to ship causes fragmentation.
	</p>
      </div>
    </div>
  </div> -->
  <div class="card horizontal">
    <div class="card-stacked">
      <div>
        <h3 class="header blue darken-3">The Catalog</h3>
        <p class="divide">
	  The API Catalog lists properties and methods exposed on constructor
	  functions and their prototypes. These data are gathered from the
	  JavaScript object graph exposed on major browser releases from the
	  past several years. The catalog constitutes the raw data from which
	  aggregate <i>API Confluence metrics</i> are computed.
        </p>
      </div>
      <div class="card-action">
        <a ui-sref="catalog" class="blue-text right btn-flat">open catalog</a>
      </div>
    </div>
  </div>
  <div class="card horizontal">
    <div class="card-stacked">
      <div>
        <h3 class="header blue darken-3">The Metrics</h3>
        <p class="divide">
	  API confluence metrics are just counts of "APIs" for a particular
	  browser version. By "API" is meant a property or method on an
	  interface exposed by the browser. Examples include:
        </p>
        <blockquote>
	  <code>Window.location</code><br>
	  <code>Document.write()</code><br>
	  <code>RTCPeerConnection.currentRemoteDescription</code>
        </blockquote>
        <p>
	  Most metrics attempt to capture a count of <i>bad APIs</i>. For example,
	  the <i>Failure to Ship</i> metric counts APIs that a browser release
	  is missing, and all other browsers have been providing the API for at
	  least a year.
        </p>
        <p>
	  A precise definition of the metrics can be found
	  <a href="https://github.com/GoogleChrome/confluence#the-metrics">here</a>.
        </p>
      </div>
      <div class="card-action">
        <a ui-sref="confluence" class="blue-text right btn-flat">open metrics</a>
      </div>
    </div>
  </div>
  <blockquote class="yellow lighten-4 warning">
    Status in standards is not part of the data or analysis, and there is no
    guarantee that a widely-supported API is interoperable in its details, or
    will remain part of the web platform.
  </blockquote>
</div>
