<div class="container">
  <h2 class="header">Web API Confluence</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img ng-src="images/elastic-band.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>A web UI for visualizing API confluence metrics. These metrics are intended to capture how browser vendors are stretching the elastic band of the web platform.
        <hr><br>
        <b>Stretching is good</b>: Browsers should be implementing new APIs to add value to the platform.
        <br>
        <br>
        <b>Breaking is bad</b>: Implementing too many new APIs before other browsers catch up, or failing to remove APIs other browsers don't intend to ship causes fragmentation.</p>
      </div>
      <div class="card-action">
        <a ui-sref="catalog" class="blue-text">catalog</a>
        <a ui-sref="confluence" class="blue-text">confluence</a>
      </div>
    </div>
  </div>
</div>
