<div class="card-panel full-width">
  <table class="bordered highlight">
    <tr>
      <th>Interface / API</th>
      <th ng-repeat="release in $ctrl.releases">
        {{release.browserName}} {{release.browserVersion}}
        {{release.osName}} {{release.osVersion}}
      </th>
    </tr>
    <tr>
      <td>Total APIs</td>
      <td ng-repeat="release in $ctrl.releases">
        {{analytics[release.releaseKey].total}}
      </td>
    </tr>
    <tr>
      <td>Proprietary APIs</td>
      <td ng-repeat="release in $ctrl.releases">
        {{analytics[release.releaseKey].proprietary}}
        <i class="tiny material-icons"
          style="cursor:pointer"
          ng-click="createNewView(release, 'proprietary')">
          open_in_new
        </i>
      </td>
    </tr>
    <tr>
      <td>Fall Behind APIs</td>
      <td ng-repeat="release in $ctrl.releases">
        {{analytics[release.releaseKey].fallBehind}}
        <i class="tiny material-icons"
          style="cursor:pointer"
          ng-click="createNewView(release, 'fallBehind')">
          open_in_new
        </i>
      </td>
    </tr>
  </table>
</div>
